/* .jumbotron {
    padding: 2rem 1rem;
    min-height: 1200px;
    background-image: url("gambar/background3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -100px;
    margin-top: -1000px;
    overflow: hidden;
} */
